
body{
background-color: white;
}

article{
background-color:#FFF8D9; 
text-align: center;
flex-direction: row;
border: 1px solid #FFF8D9;
}

.container{
background-color: white;
}

aside{
background-color: #BB371A;
height: 100%;
border: 1px solid #BB371A;
}



